
.cellGrey{
	display: inline-block;
	width: 120px;
	text-align: center;
	font-weight: bold;
	background-color: lightgrey;
	color: black;
	margin: 1px;
}
	
.cellb{
	display: inline-block;
	width: 120px;
	text-align: center;
	font-weight: bold;
	background-color: black;
	color: white;
	margin: 1px;
}

.cartItems{
	font-size: 20px;
}