.showTable{
	display: inline-block;
	width: 10%;
	text-align: center;
	background-color: lightgrey;
	color: black;
	margin: 1px;
}
.showHeader{
	display: inline-block;
	width: 10%;
	text-align: center;
	background-color: black;
	color: white;
	font-weight: bold;
	margin: 1px;
}
.btn{
	color:white;
	background-color: black;
}
.btn:hover{
	background-color: red;
}
